@use 'shared/styles/functions' as *;

.skeleton {
  animation: 2s ease-in-out 0.5s infinite normal none running pulse;
  background-color: get-color(gray, 200);
  border-radius: 0.25rem;
  display: block;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
