:host {
  .pagination {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    justify-content: flex-end;

    ::ng-deep {
      .button {
        border-radius: 50%;
        border: none;
        font-size: 0.75rem;
        min-height: 2rem;
        min-width: 2rem;
        padding: 0;
      }
    }
  }
}
