@use 'shared/styles/theme' as *;

:host {
  .crud-table {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: $base-container-spacing;

    ::ng-deep {
      .input {
        width: 300px;

        @media (max-width: $base-breakpoint-sm) {
          width: 100%;
        }

        .input__suffix {
          color: $disabled-color;
        }
      }
    }
  }
}
