@use 'sass:list';

@use 'shared/styles/theme' as *;

$toast-colors: (
  default: (
    $default-dark,
    $default-light
  ),
  error: (
    $error-dark,
    $error-light
  ),
  primary: (
    $primary-dark,
    $primary-light
  ),
  secondary: (
    $secondary-dark,
    $secondary-light
  ),
  success: (
    $success-dark,
    $success-light
  ),
  warning: (
    $warning-dark,
    $warning-light
  )
);

@mixin toast-styles($color-dark, $color-light) {
  background-color: rgba($color-light, 0.3);
  color: $color-dark;
}

.toast {
  align-items: center;
  border-radius: 0.5rem;
  border: none;
  display: flex;
  gap: 0.875rem;
  padding: 1rem;

  @each $name, $colors in $toast-colors {
    &.toast--#{$name} {
      @include toast-styles(list.nth($colors, 1), list.nth($colors, 2));
    }
  }

  &.toast__direction--horizontal .toast__content {
    flex-direction: row;
  }

  &.toast__direction--vertical .toast__content {
    flex-direction: column;
  }

  .toast__content {
    display: flex;
    flex: 1;
    gap: 0.25rem;
  }

  .toast__title {
    font-weight: 600;
  }

  .toast__title,
  .toast__subtitle,
  .toast__body {
    font-size: 0.75rem;
  }
}
